
table{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table td{
    border: 1px solid #ccc;
    padding: 5px 10px;
}
table td :first-child{
    font-weight: 600;
}
form{
    display: flex;
    justify-content: center;
  height: 100vh;   
 align-items: center;
 flex-direction: column;
gap: 10px;

}
